logs
project/project
project/target
target
tmp
.history
dist
.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
app/views/views.iml
public/javascripts/javascripts.iml
public/map/javascript/javascript.iml
public/map/library/bootstrap/js/js.iml
public/map/library/jquery/jquery.iml
