@(title: String)(body: Html)

<!doctype html>
<html lang="zh-cn">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/dashboard.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/common.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/buttons.css")">

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!--[if lt IE 9]>
            <script src="/webjars/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="/webjars/respond/1.4.2/dest/respond.min.js"></script>
          <![endif]-->
    </head>
    <body>
        @body

            <!-- Bootstrap core JavaScript================================================== -->
            <!-- Placed at the end of the document so the pages load faster -->
        <script src="@routes.Assets.at("javascript/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascript/bootstrap.min.js")" type="text/javascript"></script>
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script src="@routes.Assets.at("javascript/monitor.js")" type="text/javascript"></script>

    </body>
</html>