@(user: User)

<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dashboard | Rhea</title>
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/bootstrap-responsive.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/style.css")">
        <link rel="stylesheet" href="@routes.Assets.at("css/toastr.css")">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

        <style type="text/css">
        body{background: #fff;}

        </style>
    </head>
    <body>



        <div class="row-fluid">
            <div class="span12">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">

                        <a class="btn btn-navbar" data-target=".navbar-responsive-collapse" data-toggle="collapse"></a>
                        <div class="nav-collapse collapse navbar-responsive-collapse">
                            <div class="container">
                                <ul class="nav">
                                    <li id="logo_pic">
                                        <a href="@routes.Application.index()"><img src="@routes.Assets.at("images/logo.png")"></a>
                                    </li>

                                    <li class="active">
                                        <a href="#">全部动态</a>
                                    </li>
                                    <li>
                                        <a href="">个人主页</a>
                                    </li>
                                    <li>
                                        <a href=")">工程视图</a>
                                    </li>
                                    <li>
                                        <a href="">用户列表</a>
                                    </li>
                                    <li>
                                        <a href="">统计查看</a>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">周报</a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="">自动生成周报</a>
                                            </li>
                                            <li>
                                                <a href="">设置周报收件人</a>
                                            </li>

                                            <li class="divider">
                                            </li>
                                            <li class="nav-header">
                                                标签
                                            </li>
                                            <li>
                                                <a href="#">链接1</a>
                                            </li>
                                            <li>
                                                <a href="#">链接2</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul class="nav pull-right">
                                    <li class="user-name">@user.email</li>
                                    <li class="modify-psw"><a href="" >修改密码</a></li>
                                    <li>
                                        <a href="">退出</a>
                                    </li>
                                    <li class="divider-vertical">
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span8">
                        <div class="page-header">
                            <span class="personal-change">近期动态 </span>
                            <span class="dropdown allstate-list">
                                <button class="btn btn-default dropdown-toggle" type="button" id="alltaskstate" data-toggle="dropdown">
                                    按状态筛选
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="alltaskstate">
                                    <li role="presentation"  value="0" ><a role="menuitem" tabindex="-1" href="#"> 全部</a></li>
                                    <li role="presentation"  value="1" ><a role="menuitem" tabindex="-1" href="#"> 未开始</a></li>
                                    <li role="presentation"  value="2"><a role="menuitem" tabindex="-1" href="#">进行中</a></li>
                                    <li role="presentation" value="3"><a role="menuitem" tabindex="-1" href="#" >已完成</a></li>

                                </ul>
                            </span>
                        </div>
                        <ul class="tasks" id="tasks">


                        </ul>
                        <ul id="nomore">

                        </ul>
                    </div>
                    <div  class="span4">
                        <div class="page-header"><h1><small>项目列表</small></h1></div>
                        <ul class="projects" id="projects">

                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <script src="@routes.Assets.at("javascript/jquery-1.11.1.min.js")"></script>
        <script src="@routes.Assets.at("javascript/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascript/toastr.js")"></script>
        <script src="@routes.Assets.at("javascript/rhea.js")"></script>
        <script>
            var rhea = new rhea(@user.email, 0, 0,@user.id);
            rhea.init();


        $(window).scroll(function(event){
            rhea.scroll();
        });
        $('.allstate-list ul li ' ).click(function(){

        $('.tasks' ).empty();

        var stateid=$(this ).val();

        rhea.initvalues(stateid);

        rhea.initlist();


        var text=$(this ).text();

        $('#alltaskstate' ).text(text);
        $('#alltaskstate' ).append('<b class="caret"></b>');

        });
        </script>
    </body>

</html>